<h3><a href="http://www.linkedin.com/profile/view?id=158611153&trk=tab_pro">Linked In</a></h4>
<h3><a href="http://scholar.google.com.au/citations?hl=en&user=J1xGp_4AAAAJ">Publications</a></h4>
    <a href="http://eprints.qut.edu.au/53299/">A CAD Interface for GEANT4</a> (2012),
        <i>Australasian Physical and Engineering Sciences in Medicine (In Press).</i>
    <hr/>
    <a href="http://eprints.qut.edu.au/52696/">Fast Tessellated Solid Navigation in GEANT4</a> (2012),
        <i>IEEE Transactions on Nuclear Science, 59(4), pages 1695-1701.</i>
    <hr/>
    <a href="http://eprints.qut.edu.au/42062/">A Hybrid Radiation Detector for Simultaneous Spatial and Temporal Dosimetry</a> (2011),
        <i>Australasian Physical and Engineering Sciences in Medicine, 34(3), pages 327-332.</i>
    <hr/>





